@charset "UTF-8";
/* Prmiry colors of project */
:root {
  --primary-text-color: #757575;
  --logo-black: #000000;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --btn-hover-color: #188ce8;
  --primary-white-color: #ffffff;
  --gray-bg-color: #2f303a;
  --btn-bg-color: #f5f4fa;
  --border-bottom-color: #ececec;
  --border-color: #eeeeee;
  --default-social-icon-color: #afb1b8;
  --img-description-bg-color: rgba(47, 48, 58, 0.8);
  --footer-icons-bg: #44454e;
  --overlay-portfolio-bg-cards-color: rgba(33, 150, 243, 0.9);
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
}

/* Basic inherited properties */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.142;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Visually-hidden*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* Сontent centering styles */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container__hero {
  padding: 0;
}

/* Logo syles */
.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: var(--logo-black);
}

.logo__accent-color {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color);
}

.logo--footer-white {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0;
  color: var(--primary-white-color);
}

/* Button styles */
.btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
  min-width: 200px;
  height: 50px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn:hover {
  background-color: var(--btn-hover-color);
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* SOCIAL links */
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social--margin-16px {
  margin-top: 16px;
}

.social--margin-20px {
  margin-top: 20px;
}

@media screen and (max-width: 1200px) {
  .social--margin-20px {
    margin-bottom: 60px;
  }
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  width: 44px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__item--darck {
  background-color: var(--footer-icons-bg);
}

.social__item:hover, .social__item:focus {
  background-color: var(--accent-color);
}

.social__item:hover .social__icon,
.social__item:focus .social__icon {
  fill: var(--primary-white-color);
}

.social__icon {
  font: inherit;
  width: 20px;
  height: 20px;
  fill: var(--default-social-icon-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section--nopadding-top {
  display: none;
  padding-top: 0;
}

.section--gray-bg {
  background-color: var(--btn-bg-color);
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}

@media screen and (max-width: 768px) {
  .section__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .section--nopadding-top {
    display: block;
  }
}

/* Header styles */
.header {
  position: relative;
  border-bottom: 1px solid var(--border-bottom-color);
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .container__header {
    padding: 10px 15px;
  }
}

.menu-container {
  background-color: var(--primary-white-color);
}

.menu-container.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    padding: 48px 40px;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-white-color);
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.mob-menu__btn {
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 40px;
  max-height: 40px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .mob-menu__btn {
    display: none;
  }
}

.mob-menu__btn .icon-close {
  display: none;
}

.mob-menu__btn.is-open .icon-close {
  display: block;
}

.mob-menu__btn.is-open .icon-open {
  display: none;
}

.mob-menu__icon {
  width: 40px;
  height: 40px;
}

.mob-menu__icon:hover, .mob-menu__icon:focus {
  fill: var(--accent-color);
}

/* Main Navigation */
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-menu,
.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 93px;
  letter-spacing: 0.02em;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .navigation-menu {
    display: block;
    margin-left: 0;
  }
}

.contacts-list {
  margin-left: auto;
}

.contacts-list__item:not(:last-child) {
  margin-right: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .contacts-list__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.contacts-list__icon {
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .contacts-list__icon {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .contacts-list {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .contacts-list--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 767px) {
  .contacts-link--mob-size {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .contacts-link--mob-accent {
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

.navigation-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-text-color);
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .navigation-menu__link {
    font-size: 40px;
    line-height: 1.175;
  }
}

.navigation-menu__link:hover, .navigation-menu__link:focus {
  color: var(--accent-color);
}

.contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  text-decoration: none;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover, .contacts-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.navigation-menu__item {
  position: relative;
}

.navigation-menu__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 767px) {
  .navigation-menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .navigation-menu__item {
    padding: 0;
    margin: 0;
  }
}

.navigation-menu__link {
  color: var(--title-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .navigation-menu__link {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.navigation-menu__link--active {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .navigation-menu__link--active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

/* Hero-section styles*/
.hero {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--gray-bg-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../../images/hero-bg-img/Hero-img-mob-1x.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/hero-bg-img/Hero-img-mob-1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../../images/hero-bg-img/Hero-img-mob-2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/hero-bg-img/Hero-img-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../../images/hero-bg-img/Hero-img-tab-1x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/hero-bg-img/Hero-img-tab-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../../images/hero-bg-img/Hero-img-tab-2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/hero-bg-img/Hero-img-tab-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../../images/hero-bg-img/Hero-img-desktop-1x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/hero-bg-img/Hero-img-desktop-1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../../images/hero-bg-img/Hero-img-desktop-2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/hero-bg-img/Hero-img-desktop-2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin: 0;
}

@media screen and (min-width: 480px) {
  .hero__title {
    max-width: 360px;
    margin: 0px auto;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.pros-list {
  margin-bottom: -30px;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .pros-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .pros-list {
    margin-right: -30px;
  }
}

.pros-list__icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background: var(--btn-bg-color);
}

.pros-list__icon {
  width: 70px;
  height: 70px;
}

.pros-list__item {
  width: 100%;
  margin-bottom: 30px;
}

.pros-list__item:not(:last-child) {
  margin-right: 30px;
}

@media screen and (min-width: 768px) {
  .pros-list__item {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .pros-list__item {
    width: calc(100% / 4 - 30px);
  }
}

.pros-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.142;
  color: var(--title-text-color);
}

@media screen and (max-width: 480px) {
  .pros-list__title {
    text-align: center;
  }
}

.pros-list__text {
  line-height: 1.71;
}

/* What are we doing (skils-section) */
.skills {
  display: none;
}

@media screen and (min-width: 1200px) {
  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.skills__item:not(:last-child) {
  margin-right: 30px;
}

.skills__thumb {
  position: relative;
}

.skills__product-title-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 27px;
  text-align: center;
  width: 370px;
  height: 70px;
  background-color: var(--img-description-bg-color);
}

.skills__product-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.142;
  color: var(--primary-white-color);
}

.team {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 1200px) {
  .team {
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    margin-right: -30px;
  }
}

.team__item {
  background: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 1200px) {
  .team__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc(100% / 4 - 30px);
  }
}

.team__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {
  margin-bottom: 10px;
  text-align: center;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
}

.team__text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .customers {
    max-width: 768px;
    margin-right: -30px;
  }
}

@media screen and (min-width: 768px) {
  .customers {
    max-width: 1200px;
  }
}

.customers__item {
  margin-right: 15px;
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .customers__item {
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 768px) {
  .customers__item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .customers__item {
    max-width: calc(100% / 6 - 30px);
  }
}

.customers__link {
  fill: var(--default-social-icon-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid;
  border-color: var(--default-social-icon-color);
  border-radius: 4px;
  -webkit-transition-property: fill, border-color;
  transition-property: fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover, .customers__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

@media screen and (max-width: 450px) {
  .customers__link {
    width: 100%;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg-color);
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.is-hidden {
  /* visibility: hidden; */
  opacity: 0;
  pointer-events: none;
}

/* Modal styles */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__title {
  line-height: 23px;
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  text-align: center;
  color: var(--title-text-color);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: none;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover {
  fill: var(--accent-color);
  cursor: pointer;
}

/* Styles for modal inputs */
.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form__field {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__field:nth-child(4) {
  margin-bottom: 20px;
}

.modal-form__field:nth-child(5) {
  margin-bottom: 0;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus,
.modal-form__input:focus + .modal-form__input-icon {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.modal-form__wrap {
  position: relative;
}

.modal-form__input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea {
  display: block;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.modal-form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 4px;
}

.modal-form__label--check-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  line-height: 1.16;
  font-size: 12px;
}

@media screen and (min-width: 1200px) {
  .modal-form__label--check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__icon-check-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  fill: transparent;
  -webkit-transition-property: fill,background-color;
  transition-property: fill,background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal-form__icon-check-wrap {
    margin-right: 6px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__icon-check-wrap {
    margin-right: 8px;
  }
}

.modal-form__input-check:checked +
.modal-form__icon-check-wrap {
  background-color: var(--accent-color);
  border: none;
  fill: var(--primary-white-color);
}

.modal-form__confirmation-link {
  display: inline-block;
  margin-left: 4px;
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .modal-form__confirmation-link {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__confirmation-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__btn-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Footer section styles */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--gray-bg-color);
}

/* Footer container styles */
@media screen and (min-width: 768px) {
  .container__footer {
    max-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .container__footer {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.footer-title {
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-social__wrap {
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .footer-social__wrap {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .footer-social__wrap {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social__wrap {
    text-align: unset;
    margin-left: 70px;
    margin-right: 93px;
  }
}

.address {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  color: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  .address {
    width: 231px;
  }
}

.contacts-list--footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 9px;
  margin-left: 0;
  color: var(--primary-white-color);
  opacity: 60%;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1200px) {
  .contacts-list--footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-address__wrap {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-address__wrap {
    text-align: unset;
    margin-bottom: 0;
  }
}

/* Footer form styles */
.footer-form {
  display: block;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-form__wrap {
  text-align: center;
}

@media screen and (min-width: 480px) {
  .footer-form__wrap {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer-form__wrap {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__wrap {
    min-height: 86px;
    min-width: 570px;
    text-align: unset;
  }
}

.footer-form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
}

.footer-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-white-color);
  opacity: 60%;
}

.footer-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-white-color);
  opacity: 60%;
}

.footer-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-white-color);
  opacity: 60%;
}

.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-white-color);
  opacity: 60%;
}

.footer-form__input:focus-within {
  color: var(--primary-white-color);
  background: transparent;
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 349px;
  }
}

.footer-form__btn {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  padding: 10px 28px;
}

@media screen and (min-width: 1200px) {
  .footer-form__btn {
    margin: 0px 0px 0px 10px;
  }
}

.footer-form__icon-btn {
  text-align: center;
  vertical-align: middle;
  margin-left: 10px;
}

/* Portfolio.html styles */
.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio-content {
  margin-right: -30px;
}

@media screen and (min-width: 768px) {
  .portfolio-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.portfolio-content__item {
  margin-right: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio-content__item {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-content__item {
    width: calc(100% / 3 - 30px);
    margin-right: 30px;
  }
}

.portfolio-content__wrap {
  /* background: var(--primary-white-color); */
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 20px 24px;
}

@media screen and (min-width: 768px) {
  .portfolio-content__wrap {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.portfolio-content__link {
  display: block;
  text-decoration: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-content__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.portfolio-content__link:hover,
.portfolio-content__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-content__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-content__thumb {
  position: relative;
}

.portfolio-content__thumb.overflow-is-hdidden {
  overflow: hidden;
}

.portfolio-content__overlay {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: var(--overlay-portfolio-bg-cards-color);
}

.portfolio-content__link:hover .portfolio-content__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-content__overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
}

.filter-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.63;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .filter-menu__item {
    margin-bottom: 10px;
  }
}

.filter-menu__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter-menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media screen and (min-width: 768px) {
  .filter-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .filter-menu {
    margin-bottom: 50px;
  }
}

.filter-menu__btn {
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  background-color: var(--btn-bg-color);
  color: var(--title-text-color);
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 38px;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-menu__btn:hover, .filter-menu__btn:focus, .filter-menu__btn--active {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*# sourceMappingURL=main.css.map */