.section {
    padding-top: 60px;
    padding-bottom: 60px;

        &--nopadding-top {
        display: none;
        padding-top: 0;
        }

        &--gray-bg {
        background-color: var(--btn-bg-color);
        }
        
        

        @media screen and (min-width:1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }
}

.section__title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--title-text-color);

    @media screen and (max-width:768px) {
      font-size: 28px;
      margin-bottom: 30px;
    }
}

.section--nopadding-top{
    @media screen and (min-width:1200px) {
        display: block;
    }
}
