
.customers {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items:center;
  justify-content: center;

    
  
  @media screen and (min-width:768px) {
    max-width: 768px;
    margin-right: -30px;
    }
  @media screen and (min-width:768px) {
    max-width: 1200px;
  }
    
}
.customers__item{
    margin-right: 15px;
    margin-bottom: 15px;
  
  // &:not(:last-child) {
  //     margin-right: 30px;
  //   }

  @media screen and (max-width:767px) {
    width: calc(100% / 2 - 30px);
  }

  @media screen and (min-width:768px) {
    width: calc(100% / 3 - 30px);
  }
  @media screen and (min-width:1200px) {
    max-width: calc(100% / 6 - 30px);
  }

}

.customers__link {
  fill: var(--default-social-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 170px;
  width: 100%;
  height: 92px;
  border: 1px solid;
  border-color: var(--default-social-icon-color);
  border-radius: 4px;

  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border-color: var(--accent-color);
      fill: var(--accent-color);
    }
    @media screen and (max-width:450px) {
      width: 100%;
    }

}