/* Footer form styles */
.footer-form {
  display: block;
  // display: flex;
  margin-top: 20px;

  @media screen and (min-width:1200px) {
      display: flex;
    }
}

.footer-form__wrap{
  text-align: center;
  
  // min-height: 86px;
  // min-width: 570px;

  @media screen and (min-width:480px) {
      max-width: 480px;
      margin-left: auto;
      margin-right: auto;
    }
  @media screen and (min-width:768px) {
      width: 100%;
      
      
    }

  @media screen and (min-width:1200px) {
      min-height: 86px;
      min-width: 570px;
      text-align: unset;
  }
}

.footer-form__input {
  
  width: 100%;
  height: 50px;
  padding-left: 16px;
  
  margin-bottom: 20px;

  color:var(--primary-white-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  outline: none;

    &::placeholder{
      font-size: 16px;
      line-height: 1.25;

      color: var(--primary-white-color);
      opacity: 60%;
    }

    &:focus-within{
    color:var(--primary-white-color);
    background: transparent;
    }

  @media screen and (min-width:1200px) {
      width: 349px;
  }
    

}

.footer-form__btn {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: center;
  align-items:center;

  // margin-left: 10px;
  margin-top: 0;
  padding: 10px 28px;

  @media screen and (min-width:1200px) {
      // margin-top: 0;
      // margin-right: 0;
      // margin-left: 10;
      margin: 0px 0px 0px 10px;
    }

}
.footer-form__icon-btn {
  text-align: center;
  vertical-align: middle;
  margin-left: 10px;
}