/* Hero-section styles*/
.hero {
  height: fit-content;
  text-align: center;

  // max-width: 1600px;
  // padding-top: 200px;
  // padding-bottom: 200px;

  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--gray-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../../images/hero-bg-img/Hero-img-mob-1x.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../../images/hero-bg-img/Hero-img-mob-2x.jpg);
    }
    
  @media screen and (min-width:768px) {
    background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ),
  url(../../images/hero-bg-img/Hero-img-tab-1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url(../../images/hero-bg-img/Hero-img-tab-2x.jpg);
      }
  }
  @media screen and (min-width:1200px){
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../../images/hero-bg-img/Hero-img-desktop-1x.jpg);
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../../images/hero-bg-img/Hero-img-desktop-2x.jpg);
    }
  }
}
  
  // .container__hero {
  //   // width: 696px;
  // }
  
  .hero__title {
    font-weight: 900;
    // font-size: 44px;
    // line-height: 1.36;
    font-size: 26px;
    line-height: 1.62;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
  
    margin: 0;

    @media screen and (min-width:480px) {
      max-width: 360px;
      margin: 0px auto;
    }

    @media screen and (min-width:1200px) {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
    
    }
  }