/* Styles for modal inputs */

.modal-form{
  display: flex;
  flex-direction: column;
}
.modal-form__field {
  position: relative;
  margin-bottom: 10px;
}
.modal-form__field:nth-child(4) {
  margin-bottom: 20px;
}

.modal-form__field:nth-child(5){
  margin-bottom: 0;
}

.modal-form__input {
  width: 100%;
  height: 40px;

  
  padding-left: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: none;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus,
.modal-form__input:focus + .modal-form__input-icon {
  border-color:var(--accent-color);
  fill: var(--accent-color);
}

.modal-form__wrap {
  position: relative;
}
.modal-form__input-icon {
  position: absolute;

  left: 10px;
  top:50%;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__textarea {
  display: block;
  
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.modal-form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  display: block;
  margin-bottom: 4px;
}


.modal-form__label--check-text {
  display: flex;
  align-items:center;
  justify-content: center;

  font-weight: 400;
  line-height: 1.16;
  font-size: 12px;
  // line-height: 1.71;

    @media screen and (min-width:1200px) {
      font-size: 14px;
      line-height: 1.71;
    }
}

.modal-form__icon-check-wrap{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius:3px;
  fill: transparent;

  transition-property: fill,background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width:480px) {
      margin-right: 6px;
    }

  @media screen and (min-width:1200px) {
        margin-right: 8px;
  }

}

.modal-form__input-check:checked + 
.modal-form__icon-check-wrap {
  background-color: var(--accent-color);
  border: none;
  fill: var(--primary-white-color);
}

.modal-form__confirmation-link {
  display: inline-block;
  margin-left: 4px;
  color: var(--accent-color);

   @media screen and (min-width:480px) {
      font-size: 12px;
      line-height: 1.16;
    }

    @media screen and (min-width:1200px) {
      font-size: 14px;
      line-height: 1.71;
    }
}

.modal-form__btn-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
