/* Prmiry colors of project */
:root {
    --primary-text-color: #757575;
    --logo-black: #000000;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --btn-hover-color: #188ce8;
    --primary-white-color: #ffffff;
    --gray-bg-color: #2f303a;
    --btn-bg-color: #f5f4fa;
    --border-bottom-color: #ececec;
    --border-color: #eeeeee;
    --default-social-icon-color: #afb1b8;
    --img-description-bg-color: rgba(47, 48, 58, 0.8);
    --footer-icons-bg: #44454e;
    --overlay-portfolio-bg-cards-color: rgba(33, 150, 243, 0.9);
    --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  }